<!DOCTYPE html>

<head>

     <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href='/img/explosion.jpg'>
</head>

<body>
 <div class="main-content">
   {{>header}}
  
   <img class="aboutimage" src='/img/prateek_face.jpg'>
</div>     

{{!--   ctr+/  will cooment any time of file here in microsft visual studeio, or 
i guees in any web editor
//we are adding fotter ourside dev as i will set property of it in such way it 
fit at bottom of screen --}}
{{>footer}}
</body> 

</html>