<!DOCTYPE html>

<head>

    <title>Help</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href='/img/explosion.jpg'>
</head>

<body>
     <div class="main-content">
     {{>header}}
     <p>For any query reach out on our wiki page</p>
     </div>

     {{>footer}}
</body>

</html>