
<!DOCTYPE html>

<html>

    
 <head>
     <title>weather</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href='/img/explosion.jpg'>
    
 </head>    

<body>
     <div class="main-content">
        {{>header}}
   
           <p>This site will help you get weather inforamtion</p>

           <form>
              <input placeholder="Location">
              <button>Search</button>
           </form>  
           <p id="message-1"></p>
           <p id="message-2"></p> 
     </div>   
    
    {{>footer}}
      <script src="/js/app.js"></script>
</body>    
</html>    